.bg-secondary-light {
  background: rgba(99,25,125,0.76) !important;
}

.bg-primary-light {
  background: rgba(23,46,120,0.81);
}

.bg-primary-light {
  background: rgba(18,39,111,0.73) !important;
}

.bg-info-light {
  background: rgba(4,89,116,0.85) !important;
}

